.page-enter-active, .page-leave-active {
  transition: all .45s ease-in-out;
  transition: all .45s cubic-bezier(.55,0,.1,1);

  // transform: translate(30px, 0);
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}

html, body {
  font-size: 102% !important;
}

.spinner {
  background-color: #3f51b5 !important;
}

a.adminNavRoute.nuxt-link-exact-active.nuxt-link-active {
    font-weight: 700;
    text-decoration: none;
}
